<div class="well">
    <h1>Hello World AngularJS application</h1>
    <!-- <section ng-controller="HomeController as vm"> -->
    <section>
        <h4>AngularJS Greeting</h4>
        <label for="name">Type your name here:</label>
        <input id=name type="text" ng-model="vm.myModel">
        <p>Hello {{vm.myModel}}!</p>
    </section>
</div>

<div class="well">
    <h1>Get data (from another container)</h1>
    <section>
        <h4>Get Dogs</h4>
        <label for="url">Type URL for API call:</label>
        <input id="url" type="text" ng-model="vm.apiUrl">
        <p>API URL {{vm.apiUrl}}</p>
        <button ng-click="vm.getDogs()" class="btn btn-primary">Get Dogs</button>
        <div ng-repeat="dog in vm.dogs">
            {{dog}}
        </div>
    </section>
</div>

<div class="well">
    <h1>Test Toastr</h1>
    <!-- <section ng-controller="ToastrController as vm"> -->
    <section>
        <label for="message">Type your Toastr message here:</label>
        <input id=message type="text" ng-model="vm.message">
        <button ng-click="vm.info()" class="btn btn-info">Info</button>    
        <button ng-click="vm.success()" class="btn btn-primary">Success</button>
        <button ng-click="vm.error()" class="btn btn-danger">Error</button>
    
    </section>
</div>

<div class="well">
    <h1>Test Spinner</h1>
    <!-- <section ng-controller="TestSpinnerController as vm"> -->
    <section>
        <label for="duration">Length of spinner in MS:</label>
        <input id=duration type="text" ng-model="vm.duration">
        <button ng-click="vm.startSpinner()" class="btn btn-primary">Start Spinner</button>
    </section>
</div>